@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.header{
    background: map-get(variables.$accentVars, "black");
    position: fixed;
    width: 100%;
    top: 0;
    @include mixins.flexBox;
    padding: 1rem;
    color: map-get(variables.$accentVars, "white");
    font-size: 90%;
    z-index: 1000;
}