*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #ececd9;
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: 10rem;
  padding: 1rem 0;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: pink;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 2rem;
}
.navigation__item {
  color: black;
  text-decoration: none;
  font-size: 110%;
}

.home {
  width: 100%;
  margin-bottom: 8rem;
}
.home__header {
  background: black;
}
.home__header--image {
  width: 100%;
}
.home__highlights {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.home__highlights--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4rem;
}
.home__highlight {
  text-decoration: none;
  color: black;
}
.home__highlight--image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.home__map {
  padding: 1rem;
}

.attractions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.attractions__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem 1.8rem;
}
.attractions__buttons--button {
  background: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 90%;
}
.attractions__buttons--button-active {
  color: blue;
  border: 0.1rem solid blue;
}
.attractions__grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.attractions__grid--item {
  width: 45%;
  text-decoration: none;
  color: black;
}
.attractions__grid--item-image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.attractions__grid--item-info {
  padding: 0.2rem 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.attractions__grid--item-infoName {
  font-size: 80%;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.attractions__grid--item-infoText {
  font-size: 80%;
  color: #151515;
}
.attractions__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.attractions__item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.attractions__item--image {
  width: 5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}
.attractions__item--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.attractions__item--name {
  font-size: 100%;
}
.attractions__item--location {
  color: #151515;
  font-size: 80%;
}

.carousel {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.carousel__image {
  width: 100%;
  height: 60rem;
  object-fit: cover;
  border-radius: 1rem;
}
.carousel__info {
  background: rgb(231, 228, 228);
  position: absolute;
  bottom: 0%;
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  border-radius: 1rem;
}
.carousel__info--name {
  text-transform: uppercase;
  font-size: 140%;
}
.carousel__info--overview {
  font-size: 100%;
  color: #151515;
}

.attraction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.attraction__image {
  width: 100%;
  object-fit: cover;
}
.attraction__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.attraction__info--address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
}
.attraction__info--address-icon {
  color: #151515;
}
.attraction__info--overview {
  text-align: center;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__image {
  width: 100%;
  object-fit: cover;
}

.help {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8rem;
  width: 100%;
  height: 80vh;
  padding: 4rem 2rem;
}
.help__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.help__icon {
  font-size: 400%;
  color: #151515;
}
.help__title {
  font-size: 180%;
}
.help__questions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.help__question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 110%;
  box-shadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=style.css.map */
