@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.home{
    width: 100%;
    background: map-get(variables.$accentVars, "accent");
    border-radius: 0 0 2rem 2rem;
    
    &__wrapper{
        padding: 2rem 1rem;
    }

    &__title{
        padding: 0.4rem 2rem;
        font-size: 140%;
        color: whitesmoke;
    }

    &__heading{
        width: 100%;
        @include mixins.flexBox;
        
        &--image{
            width: 100%;
            height: 21rem;
            object-fit: cover;
            border-radius: 2rem;
            object-position: center;
            // box-shadow: 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.2);
        }
    }

    &map{
        width: 100%;

        &__title{
            padding: 0.4rem 2rem;
            font-size: 140%;
        }

        &__figure{
            width: 100%;
            height: 20rem;
            padding: 1rem;

            &--image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 2rem;
                box-shadow: 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.2);
            }
        }
    }

    &help{
        padding: 2rem;
        width: 100%;

        &__link{
            text-decoration: none;
            color: map-get(variables.$baseVars, "color");

            &--help{
                background: lighten(map-get(variables.$headerVars, "background"), 10%);
                padding: 2rem;
                @include mixins.flexBox;
                flex-direction: column;
                gap: 2rem;
                border-radius: 2rem;
                box-shadow: 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.2);
                width: 100%;

                &-icon{
                    font-size: 300%;
                    color: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
}