@use "../../abstracts/variables";
@use "../../abstracts/mixins";

$colors: green, grey, blue;

.result{
    @include mixins.flexBox;
    flex-direction: column;
    width: 100%;

    &__figure{
        width: 100%;
        height: 100%;

        &--image{
            width: 100%;
            height: 35rem;
            object-fit: cover;

            &-options{
                filter: blur(2rem);
            }
        }

        &--wrapper{
            width: 100%;
            position: absolute;
            z-index: 1000;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }

        &--button{
            width: 4rem;
            aspect-ratio: 1/1;
            @include mixins.flexBox;
            border-radius: 50%;
            border: none;
            background: rgba(map-get(variables.$accentVars, "black"), 0.2);
            color: map-get(variables.$accentVars, "white");
            font-size: 100%;

            &:focus{
                outline: none;
            }
        }
    }

    &__options{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        &--info{
            width: 100%;
            @include mixins.flexBox;
            flex-direction: column;

            &-title{
                color: map-get(variables.$accentVars, "white");
            }
        }

        &--list{
            border-radius: 1rem;
            background: map-get(variables.$accentVars, "grey");
            width: 100%;
            @include mixins.flexBox;
            flex-direction: column;
            list-style: none;
        }

        &--status{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            padding: 1rem;

            &-button{
                @include mixins.flexBox;
                flex-direction: column;
                gap: 1rem;
                background: none;
                border: none;
                color: map-get(variables.$baseVars, "color");
                font-family: map-get(variables.$baseVars, "font");
                font-size: 100%;
            }

            &-icon{
                font-size: 200%;
            }
            &-eye{
                color: map-get(variables.$accentVars, "green");
            }
            &-favorite{
                color: map-get(variables.$accentVars, "orange");
            }
            &-watchlist{
                color: map-get(variables.$accentVars, "blue");
            }
        }

        &--item{
            width: 100%;
            @include mixins.flexBox;
            flex-direction: column;
            padding: 1rem;
            border-top: map-get(variables.$moviesVars, "border");
            border-color: map-get(variables.$baseVars, "background");

            &-wrapper{
                width: 100%;
                @include mixins.flexBox;
                font-size: 150%;
            }

            &-star{
                color: map-get(variables.$accentVars, "green");

                &:hover{
                    cursor: pointer;
                }
            }

            &-icon{

                &:hover{
                    cursor: pointer;
                    color: map-get(variables.$accentVars, "green");
                }
            }
        }

        &--exit{
            width: 100%;
            background: map-get(variables.$accentVars, "grey");
            padding: 2rem;
            border-radius: 1rem;
            border: none;
            color: map-get(variables.$baseVars, "color");
            font-weight: 600;
            font-size: 100%;
        }
    }

    &__details{
        width: 100%;
        box-shadow: 0rem -1rem 4rem 4rem rgba(map-get(variables.$baseVars, "background"), 1);
        padding: 0 2rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2rem;

        &--span{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &--wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1.8rem;
        }
        &--title{
            color: map-get(variables.$accentVars, "white");
        }
        &--info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.4rem;

            &-wrapper{
                @include mixins.flexBox;
                gap: 0.4rem;
                font-size: 85%;
            }
            &-middledot{
                color: map-get(variables.$accentVars, "lightgrey");
            }
            &-director{
                color: map-get(variables.$accentVars, "whiteish");
                font-size: 115%;
                text-decoration: none;
                font-weight: 600;
            }
        }

        &--video{
            @include mixins.flexBox;
            gap: 1rem;

            &-trailer{
                background: map-get(variables.$accentVars, "lightgrey");
                border: none;
                padding: 0.2rem 1rem;
                border-radius: 0.8rem;
                @include mixins.flexBox;
            }
            &-link{
                text-decoration: none;
                color: map-get(variables.$accentVars, "whiteish");
                font-family: map-get(variables.$baseVars, "font");
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.4rem;
                font-size: 100%;
            }
            &-icon{
                font-size: 70%;
            }
        }
        &--figure{
            &-image{
                width: 12.5rem;
                object-fit: cover;
                @include mixins.movie;
            }
        }

        &--description{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 0.8rem;

            &-tagline{
                font-weight: 400;
                font-size: 95%;
                text-transform: uppercase;
            }
            &-text{
                font-size: 95%;
            }
            
            &-limit{
                height: 10rem;
                overflow: hidden;
                position: relative;
                
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    background: rgba(map-get(variables.$baseVars, "background"), 0.7);
                    height: 2rem;
                    bottom: 0;
                }
            }
        }
    }

    &__status{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem 0;
        border-bottom: map-get(variables.$moviesVars, "border");

        &--item{
            width: 12rem;
            padding: 0.6rem;
            border-radius: 1rem;
            color: map-get(variables.$accentVars, "white");

            @each $color in $colors{
                &-#{$color}{
                    background: map-get(variables.$statusVars, #{$color});
                }
            }
            
            &-title{
                font-size: 100%;
            }
        }
    }

    &__rating{
        border: map-get(variables.$moviesVars, "border");
        border-left: 0;
        border-right: 0;
        width: 100%;
        padding: 1rem;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 0.6rem;

        &--title{
            font-size: 90%;
            text-transform: uppercase;
            font-weight: 400;
        }

        &--rate{
            color: map-get(variables.$accentVars, "whiteish");   
        }
    }

    &__credits{
        width: 100%;
        &--wrapper{
            @include mixins.flexBox;
            padding: 1rem;
            width: 100%;
        }

        &--buttons{
            background: map-get(variables.$accentVars, "black");
            padding: 0.2rem;
            @include mixins.flexBox;
            border-radius: 0.6rem;
            
            &-button{
                background: none;
                color: map-get(variables.$baseVars, "color");
                border: none;
                padding: 0.3rem 0.8rem;
                font-weight: 600;
            }
            &-active{
                background: map-get(variables.$accentVars, "lightgrey");
                color: map-get(variables.$accentVars, "white");
                border-radius: 0.6rem;
            }
        }

        &--cast{
            border: map-get(variables.$moviesVars, "border");
            border-left: 0;
            border-right: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            list-style: none;
        }
    }

    &__cast{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;

        &--figure{
            padding: 0.4rem;
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;

            &-image{
                width: 5rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 1rem;
                padding: 0.2rem;
            }
        }
        &--wrapper{
            width: 100%;
            border-bottom: map-get(variables.$moviesVars, "border");
            padding: 0.4rem;
        }

        &--name{
            width: 33rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: map-get(variables.$baseVars, "color");
            text-decoration: none;
        }

        &--character{
            width: 33rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 90%;
            color: map-get(variables.$accentVars, "lightgrey");
        }
    }

    &__similar{
        padding: 3rem 0 2rem 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;

        &--title{
            font-size: 90%;
            font-weight: 400;
        }

        &--wrapper{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            width: 100%;
            overflow: hidden;
            overflow-x: scroll;

            &::-webkit-scrollbar{
                display: none
            }
        }

        &--movie{
            @include mixins.flexBox;
            &-image{
                width: 10rem;
                @include mixins.movie;
            }
        }
    }

    &__item{
        width: 100%;
        border-bottom: map-get(variables.$moviesVars, "border");
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;

        &--link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-decoration: none;
            color: map-get(variables.$baseVars, "color");

            &-icon{
                font-size: 80%;
            }
        }

        &--title{
            color: map-get(variables.$accentVars, "lightgrey");
            text-transform: uppercase;
            font-size: 90%;
            padding: 1rem;
            border-bottom: map-get(variables.$moviesVars, "border");
            width: 100%;
        }
    }

    &__release{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        border: map-get(variables.$moviesVars, "border");
        border-left: none;
        border-right: none;
        padding: 1rem;

        &--text{
            width: 30%;
            font-size: 95%;
            white-space: nowrap;
        }

        &--country{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            font-weight: 600;
            font-size: 95%;
            width: 70%;

            &-image{
                width: 3rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
                border: map-get(variables.$moviesVars, "border");
            }

            &-certification{
                border: map-get(variables.$moviesVars, "border");
                border-radius: 0.4rem;
                padding: 0.2rem 0.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}