@use "variables";
@use "mixins";

body{
    min-height: 100vh;
    background: map-get(variables.$baseVars, "background");
    color: map-get(variables.$baseVars, "color");
    font-family: map-get(variables.$baseVars, "font");
    font-weight: 400;
    font-size: 2rem;
    font-variant-numeric: lining-nums;
}

.main{
    @include mixins.flexBox;
    flex-direction: column;
    width: 100%;
    margin: 0 0 8rem 0;
}