@use "variables";

@mixin flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin movie{
    border-radius: 0.4rem;
    border: map-get(variables.$moviesVars, "border");
}