$baseVars: (
    "background": #14171C,
    "color": #99AABB,
    "font": "freight-sans-pro"
);

$accentVars: (
    "grey": #2C343F,
    "lightgrey": #556678,
    "green": #00B021,
    "orange": #F27405,
    "whiteish": #BBCCDD,
    "white": white,
    "black": black,
    "blue": #40bcf4
);

$moviesVars: (
    "border": 0.01rem solid rgba(#556678, 0.6)
);

$statusVars: (
    "green": #00ac1c,
    "grey": #99aabb,
    "blue": #2596be
);