@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.navigation{
    position: fixed;
    bottom: 0;
    background: map-get(variables.$accentVars, "lightgrey");
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;

    &__link{
        color: map-get(variables.$accentVars, "whiteish");
        font-size: 120%;
        font-weight: 400;
    }
}